*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.header-row {
    background-color: #edf5fb;
}


#login-main{
    background-image: url("/Images/Login-main.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#form-main{
    background-color: #edf5fb;
    padding: 50px 50px;
    border: 2px solid blue;
    border-radius: 20px;
}


#form-main h2{
    color:#4c92be
}
#form-main h3{
    font-size: 25px;
}

#form-main .btn{
width: 200px;
font-size: 16px;
line-height: 25px;
}

#form-main a{
    text-decoration: none;
}


/* Benefits */

#benefit-main{

    background-color: #edf5fb;
    padding-bottom: 100px;
}


.benefit-header {
    text-align: center;
}


.benefit-header p{
    display: inline-block;
    background-color: #4c92be;
    color: white;
    font-size: 20px 10px;
    padding: 15px;
    border-radius: 50px;
    margin-top: -50px;
}


